<div class="navbar-inner footer">
  <div class="container">
      <ul class="nav">
        <li>&nbsp;</li>
        <!--
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        -->
      </ul>
  </div>
</div>
